@import 'colors/one-dark.css';

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  /* font-size: 13px; */
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @bg0;
  border: 1px solid @bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#workspaces {
  background-color: @bg0;
  padding: 5px 3px;
  margin-left: 10px;
  margin: 0 8px 0 8px;
  border-radius: 16px;
  border: 1px solid @bg1;
  color: @fg;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background-color: @bg1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#network,
#clock,
#cpu,
#memory,
#bluetooth,
#custom_notification {
  background-color: @bg0;
  padding: 0 10px;
  margin: 0 4px;
  border-radius: 50px;
  border: 1px solid @bg1;
  padding-left: 18px;
  padding-right: 18px;
}

#cpu {
  color: @red;
}

#memory {
  color: @purple;
}

#clock {
  color: @blue;
}

#bluetooth {
  color: @blue;
  font-size: 18px;
}

#custom_notification {
  color: @fg;
}

#pulseaudio {
  color: @yellow;
}

#network {
  color: @purple;
}

#battery {
  color: @green;
}
